<div class="row">
    <div class="col-md-12">

        <h3>Claims associated with @Model.HunterName</h3>
        <p>This page displays all the claims associated the the current User. This is useful when debugging to see which claims are being populated from the Auth0 ID Token.</p>

        <table class="table">
            <thead>
            <tr>
                <th>
                    Location
                </th>
                <th>
                    Code
                </th>
                <th>
                    Trick Complete
                </th>
                <th>
                    Code Entered Date
                </th>
            </tr>
            </thead>
            <tbody>
                @if( @Model.GetLocation("BIK") != null )
                {                 
                    <tr>
                    <td>@Model.GetLocation("BIK").Name</td>
                    <td>@Model.GetLocation("BIK").Code</td>
                    <td>@Model.GetLocation("BIK").TrickComplete</td>
                    <td>@Model.GetLocation("BIK").CodeEnteredDate</td>
                    <td>Edit</td>
                    </tr>
                }   
                else
                {                   
                    <tr>
                    <td>BIK</td>
                    <td></td>
                    <td></td>
                    <td>Edit</td>
                    </tr>
                }                  
                @if( @Model.GetLocation("COH") != null )
                {                 
                    <tr>
                    <td>@Model.GetLocation("COH").Name</td>
                    <td>@Model.GetLocation("COH").Code</td>
                    <td>@Model.GetLocation("COH").TrickComplete</td>
                    <td>@Model.GetLocation("COH").CodeEnteredDate</td>
                    <td>Edit</td>
                    </tr>
                }   
                else
                {                   
                    <tr>
                    <td>COH</td>
                    <td></td>
                    <td></td>
                    <td>Edit</td>
                    </tr>
                }  
                @if( @Model.GetLocation("TWO") != null )
                {                 
                    <tr>
                    <td>@Model.GetLocation("TWO").Name</td>
                    <td>@Model.GetLocation("TWO").Code</td>
                    <td>@Model.GetLocation("TWO").TrickComplete</td>
                    <td>@Model.GetLocation("TWO").CodeEnteredDate</td>
                    <td>Edit</td>
                    </tr>
                }   
                else
                {                   
                    <tr>
                    <td>TWO</td>
                    <td></td>
                    <td></td>
                    <td>Edit</td>
                    </tr>
                }  
                @if( @Model.GetLocation("BAK") != null )
                {                 
                    <tr>
                    <td>@Model.GetLocation("BAK").Name</td>
                    <td>@Model.GetLocation("BAK").Code</td>
                    <td>@Model.GetLocation("BAK").TrickComplete</td>
                    <td>@Model.GetLocation("BAK").CodeEnteredDate</td>
                    <td>Edit</td>
                    </tr>
                }   
                else
                {                   
                    <tr>
                    <td>BAK</td>
                    <td></td>
                    <td></td>
                    <td>Edit</td>
                    </tr>
                }
                @if( @Model.GetLocation("FIN") != null )
                {                 
                    <tr>
                    <td>@Model.GetLocation("FIN").Name</td>
                    <td>@Model.GetLocation("FIN").Code</td>
                    <td>@Model.GetLocation("FIN").TrickComplete</td>
                    <td>@Model.GetLocation("FIN").CodeEnteredDate</td>
                    <td>Edit</td>
                    </tr>
                }   
                else
                {                   
                    <tr>
                    <td>FIN</td>
                    <td></td>
                    <td></td>
                    <td>Edit</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>