@model SantaShreds.Models.Location

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })                
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                 @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label" })                
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TrickComplete, htmlAttributes: new { @class = "control-label" })                
                @Html.EditorFor(model => model.TrickComplete, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="TrickComplete" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
